{% extends 'base.html' %}

{% block content %}
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='panel panel-default'>
                        <div class='panel-heading'>
                            Welcome to ShortUrls
                        </div>
                        <div class='panel-body'>
                            <div>Wrong url!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
