<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE-edge'>
        <meta name='description' content=''>
        <meta name='author' content=''>
        <title>ShortUrls</title>
        <link href='{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}' rel='stylesheet'>
    </head>
    <body>
        user is {{ request.user }}
        {% block content %}
        {% endblock %}
    </body>
</html>
